{% extends 'base.html' %}
{% load static %}
{% block title %}Alumni{% endblock title %}
{% block hero %}{% endblock hero %}
{% block content %} 
    <section id="alumniList" class="container" style="padding-top:100px;">
        <div class="section-title">
          <h2>Alumni List</h2>
          <h3>All <span>Alumni</span></h3>
          <p>List of other members</p>
        </div>
    <div class="row">
      <div class="col-lg-12 justify-content-center">
    {% if profiles %}
        {% for profile in profiles %}
        <div class="card mb-3 mx-auto" style="max-width: 540px; position-relative">
            <div class="row g-0">
              <div class="col-md-4">
                {% if profile.avatar %}
                <img src="{{profile.avatar.url}}" 
                     class="img-fluid rounded-start" alt="Profile picture" style="height:200px;">
                {% else %}     

                <img src="{% static 'assets/img/profile/default-profile-photo.jpg' %}"
                     class="img-fluid rounded-start" alt="Profile picture"style="height:200px;">
                {% endif %}
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{profile.user.username}}</h5>
                  <p class="card-text">{{profile.user.email}}</p>
                  <br/><br/>
                  <p class="card-text"><small class="text-muted">Last updated {{profile.last_updated}}</small></p>
                </div>
              </div>
            </div>
            <a class="stretched-link" href="/user_profile/{{profile.user.id}}"></a>
          </div>
          <br/><br/>
        {% endfor %}
    {% endif %}
  </div>
</div>
</section>
    {% endblock content %} 
        