{% extends 'base.html' %}
{% load static %}
{% block hero %}{% endblock hero %}
{% block content %}
<section class="h-100 h-custom" style="background:#EEE; padding-top=100px;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-8">
                  <div class="p-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                      <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                      <h6 class="mb-0 text-muted">{{ cart.count }} items</h6>
                    </div>
                    <hr class="my-4">
                    {% for cartItem in cartItems %}
                    <div class="row mb-4 d-flex justify-content-between align-items-center" id="cartItem_{{cartItem.Id}}">
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <img
                          src="{{cartItem.product.product_image.url}}"
                          class="img-fluid rounded-3" alt="Cotton T-shirt">
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3">
                        <h6 class="text-muted">{{cartItem.product.product_name}}</h6>
                        <h6 class="text-black mb-0">{{cartItem.product.product_desc}}</h6>
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                        {% comment %} <button class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                          <i class="fas fa-minus"></i>
                        </button> {% endcomment %}
                        <input id="form1" min="0" name="quantity" value="{{cartItem.quantity}}" type="number"
                          class="form-control form-control-sm" onchange="updatePrice({{cartItem.id}}, this.value)" />
  
                        {% comment %} <button class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                          <i class="fas fa-plus"></i>
                        </button> {% endcomment %}
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="mb-0">${{cartItem.product.product_price}}</h6>
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <a href="/delete_cart/{{cartItem.id}}" class="text-muted"><i class="fas fa-times"></i></a>
                      </div>
                    </div>
                    {% endfor %}
                    <hr class="my-4">

                    <div class="pt-5">
                      <h6 class="mb-0"><a href="/products/" class="text-body"><i
                            class="fas fa-long-arrow-alt-left me-2"></i>Back to products</a></h6>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 bg-grey">
                  <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                    <hr class="my-4">
  
                    <div class="d-flex justify-content-between mb-4">
                      <h6 class="text-uppercase">items: </h6>
                      <h5 id="summary_total">${{cart.total}}</h5>
                    </div>
  
                    <h6 class="text-uppercase mb-3">Shipping:</h6>
  
                    <div id="summary_shipping" class="mb-4 pb-2">
                      <select class="select" onchange="updateShipping(this.value)">
                        <option value="0">Slow-Delivery- $0.00</option>
                        <option value="5">Standard-Delivery- $5.00</option>
                        <option value="15">Express-Delivery- $15.00</option>
                        <option value="100">Premium-Delivery- $100.00</option>
                      </select>
                    </div>
  
                    <hr class="my-4">
  
                    <div class="d-flex justify-content-between mb-5">
                      <h6 class="text-uppercase">Total price:</h6>
                      <h5 id="total_price"> ${{cart.total}} </h5>
                    </div>
                    <form method="GET" action="/checkout/">
                    {% comment %} {% csrf_token %} {% endcomment %}
                    <input type="hidden" name="shipping_cost" id="shipping_cost"
                           value="0" />
                    <button type="submit" class="btn btn-dark btn-block btn-lg"
                      data-mdb-ripple-color="dark">Checkout
                    </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
    function updatePrice(itemId, quantity) {
        const summaryTotalElement = document.getElementById("summary_total");
        const summaryShippingElement = document.getElementById("summary_shipping").querySelector('select');
        const summarySelected = summaryShippingElement.options[summaryShippingElement.selectedIndex];
        const totalPrice = document.getElementById("total_price");
        
        //console.log(suma)
        var cartId = {{cart.id}}
        var url = "/update_cart/" + cartId
        
        fetch(url, {
            method:"POST",
            headers: {
                'Content-Type': 'application/JSON',
                'X-CSRFToken' : '{{ csrf_token }}',
            },
            body:JSON.stringify( {'cartItemId': itemId, 'cartItemQuantity': quantity }),
        })
        .then((response) =>{
            return response.json()            
        })
        .then((data) =>{
            summaryTotalElement.innerHTML = '$' + data.total
            totalPrice.innerHTML = '$' + (parseFloat(summarySelected.value) + parseFloat(data.total))
        })
      }
      function updateShipping(amount){
        const summaryTotalElement = document.getElementById("summary_total");
        const totalPrice = document.getElementById("total_price");
        const shippingCharge = document.getElementById("shipping_cost");
        totalPrice.innerHTML = '$' + ( parseFloat({{cart.total}}) + parseFloat(amount))
        shippingCharge.value = parseFloat(amount)
      }
  </script>
  {% endblock content %}