{% extends 'base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block hero %}
{% endblock hero %} 
{% block content %}
<section class="container" style="padding-top: 100px;">
    <form method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
    
        <nav aria-label="Page navigation example">  
          <ul id="TogglePagination" class="pagination">
            <li class="page-item"><a class="btn btn-outline-danger rounded-0 rounded-start" href="/user_profile/{{request.user.id}}"><i class="bi bi-eye"></i></a></li>
            <li class="page-item active"><a class="btn btn-danger rounded-0 rounded-end" href="/edit_profile/{{request.user.id}}"><i class="bi bi-pen"></i></a></li>
            <button type="submit" class="ms-auto btn btn-danger" >Save</button>
          </ul>
          
        </nav>
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center position-relative">
                {% if profile.avatar %}
                <img src={{profile.avatar.url}} alt="avatar" class="rounded-circle img-fluid" style="height:150px;" >
                {% else %}
                <img src= {% static 'assets\img\profile\default-profile-photo.jpg' %} alt="avatar" class="rounded-circle img-fluid" style="height:150px;" >
                {% endif %}
                
                <div class="position-absolute" style="top: 150px; right:30px;">
                    <!--button class="btn btn-light rounded-circle">
                        <i class="bi bi-upload"></i>
                    </button-->
                    <label for="avatar" class="btn btn-light rounded-circle"><i class="bi bi-upload"></i></label>
                    <input type="file" id="avatar" name="avatar" accept="image/*" hidden></input>
                </div>
              <h5 class="my-3">{{profile.user.username}}</h5>
              <input class="text-muted mb-1 form-control" type="text" id="career_position" name="career_position" value="{{profile.career_position}}"></input>
              <input class="text-muted mb-4 form-control" type="text" id="state" name="state" value="{{profile.state}}"></input>
              <input class="text-muted mb-4 form-control" type="text" id="country" name="country" value="{{profile.country}}"></input>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              <ul class="list-group list-group-flush rounded-3">
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <label for="linkedin_url" ><i class="fab fa-linkedin fa-lg" style="color: #0077b5;"></i></label>
                  <input class="text-end form-control" type="text" id="linkedin_url" name="linkedin_url" value="{{profile.linkedin_url}}"></input>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <label for="instagram_url" ><i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i></i></label>
                  <input class="text-end form-control" type="text" id="instagram_url" name="instagram_url" value="{{profile.instagram_url}}"></input>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <label for="twitter_url" ><i class="fab fa-twitter fa-lg" style="color: #55acee;"></i></i></i></label>
                  <input class="text-end form-control" type="text" id="twitter_url" name="twitter_url" value="{{profile.twitter_url}}"></input>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <label for="fullName" class="mb-0">Full Name</label>
                </div>
                <div class="col-sm-9">
                  <input type="text" id="fullName" name="fullName" value="{{profile.user.first_name}} {{profile.user.last_name}}" class="mb-0 form-control"> </input>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <label for="email" class="mb-0">Email</label>
                </div>
                <div class="col-sm-9">
                  <input type="text" id="email" name="email" value="{{profile.user.email}}" class="mb-0 form-control"></input>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                  <input type="tel" id="phone" name="phone" value="{{profile.phone}}" class="mb-0 form-control"></input>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</form>
  </section>
{% endblock content %}